---
image:
  repository: lumanex/complete-devops-project
  tag: 4eaa766
  pullPolicy: IfNotPresent
service:
  type: ClusterIP
  port: 8080
ingress:
  enabled: false
serviceAccount:
  enabled: false
autoscaling:
  enabled: false